<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title id="titre0"></title>

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <header id="titlebar">
        <div id="drag-region">
            <div id="window-title">
                <div class="logo"><img src="../assets/icon.ico"></div>
                <span id="titre1"></span>
            </div>

            <div id="window-controls">
                <div class="button" id="max-button">
                    <!-- min-button -->
                    <img class="icon"
                        srcset="../assets/icons/min-w-10.png 1x, icons/min-w-12.png 1.25x, icons/min-w-15.png 1.5x, icons/min-w-15.png 1.75x, icons/min-w-20.png 2x, icons/min-w-20.png 2.25x, icons/min-w-24.png 2.5x, icons/min-w-30.png 3x, icons/min-w-30.png 3.5x"
                        draggable="false" />
                </div>
                <!-- <div class="button" id="max-button">
                    <img class="icon"
                        srcset="../assets/icons/max-w-10.png 1x, icons/max-w-12.png 1.25x, icons/max-w-15.png 1.5x, icons/max-w-15.png 1.75x, icons/max-w-20.png 2x, icons/max-w-20.png 2.25x, icons/max-w-24.png 2.5x, icons/max-w-30.png 3x, icons/max-w-30.png 3.5x"
                        draggable="false" />
                </div> -->
                <!-- <div class="button" id="restore-button">
                    <img class="icon"
                        srcset="../assets/icons/restore-w-10.png 1x, icons/restore-w-12.png 1.25x, icons/restore-w-15.png 1.5x, icons/restore-w-15.png 1.75x, icons/restore-w-20.png 2x, icons/restore-w-20.png 2.25x, icons/restore-w-24.png 2.5x, icons/restore-w-30.png 3x, icons/restore-w-30.png 3.5x"
                        draggable="false" />
                </div> -->
                <div class="button" id="close-button">
                    <img class="icon"
                        srcset="../assets/icons/close-w-10.png 1x, icons/close-w-12.png 1.25x, icons/close-w-15.png 1.5x, icons/close-w-15.png 1.75x, icons/close-w-20.png 2x, icons/close-w-20.png 2.25x, icons/close-w-24.png 2.5x, icons/close-w-30.png 3x, icons/close-w-30.png 3.5x"
                        draggable="false" />
                </div>
            </div>
        </div>
    </header>

    <div id="main">
        <div class="page-header">
            <img src="../assets/icon.ico" alt="">
            <h3 class="header" id="titre2"></h3>
        </div>


        <div class="question">
            <textarea id="a" rows="11" cols="100" readonly class="text" style="resize: none;">
Merci d'utilisé cette outils [llx404 on github] ! 
                  
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
[!] Les codes discord seront ici
[!] LA PLUPART DES CODES NE FONCTIONNENT PAS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
            </textarea>
            <p>Combien de codes voulez-vous générer par seconde (par défaut 5) ?</p>
            <input type="text" id="speed" value="5" placeholder="Nombre de codes que vous voulez générer"><br><br>
            <button id="generate" class="btn">Generate</button>
            <button id="stop" class="btn">Stop</button>
            <button class="btn" id="clear">Clear</button>

            <button id="save" class="btn" onclick="save()">Save
                Codes</button>
            <p></p>
            <script>


                function save() {
                    var rows = document.getElementById('a').value.split('\n').length - 7;
                    download(rows + ' Codes Nitro non verifier.txt', document.getElementById('a').value)
                }
                function download(filename, text) {
                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                    element.setAttribute('download', filename);
                    element.style.display = 'none';
                    document.body.appendChild(element);
                    element.click();
                    document.body.removeChild(element);
                }
                function generate() {
                    var triesPerSecond = document.getElementById('speed').value;
                    getGiftCode = function () {
                        let code = '';
                        let dict = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
                        for (var i = 0; i < 16; i++) {
                            code = code + dict.charAt(Math.floor(Math.random() * dict.length));
                        }
                        document.getElementById('a').value += "\n" + '[CODE] http://discord.gift/' + code;
                    };
                    getGiftCode();
                    document.getElementById('stop').addEventListener("click", stop);
                    document.getElementById('clear').addEventListener("click", clear);
                    function stop() {
                        clearInterval(gInterval);
                        clearInterval(interval)
                    }
                    function clear() {
                        stop();
                        document.getElementById('a').value = `
Merci d'utilisé cette outils [llx404 on github] ! 
                  
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
[!] Les codes discord seront ici
[!] LA PLUPART DES CODES NE FONCTIONNENT PAS 
▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬
`;
                    }
                    var gInterval = setInterval(() => { getGiftCode(); }, (1 / triesPerSecond) * 1000);
                    function scroll() { document.getElementById("a").scrollTop = document.getElementById("a").scrollHeight };
                    var interval = setInterval(scroll, 100);
                }
                document.getElementById('generate').addEventListener("click", generate);
            </script>
        </div><br><br>

    </div>

    <div class="footer">
        <div class="social-links">
            <a class="social" id="github" target="_blank" href="https://github.com/llx404">
                <svg tabindex="-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                    <path fill-rule="evenodd"
                        d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                    </path>
                </svg>
            </a>
            <span>By llx404
        </div>
    </div>
    </div>



    <script>
        require('./js/script.js');
    </script>
</body>

</html>