* Basic styling */ * {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

:root {

    /* Primary backgrounds */
    --bg1: #040405;
    --bg2: #0c0d10;
    --bg2-alt: #101116;
    --bg3: #14151b;
    --bg3-alt: #191a21;
    --bg4: #20212b;

    /* Text Colors */
    --text-light: #f1f1f1;
    --text-normal: #bfc4c9;
    --text-muted: #95989d;
    --text-link: #5a88ce;

    /* Accent colors */
    --accent: #3a71c1;
    --accent-hover: #2f5b9d;
    --accent-faded: rgba(58, 113, 193, 0.4);

    /* Danger colors */
    --danger: #c13a3a;
    --danger-hover: #992e2e;
    --danger-faded: rgb(193, 58, 58, 0.4);
}


::selection {
    background-color: hsl(0, 0%, 67%);
    color: #000;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: hsl(0, 0%, 67%)
}

::-webkit-scrollbar-thumb:hover {
    height: 56px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: rgb(68, 68, 68)
}

html,
body {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: "Segoe UI", sans-serif;
    color: #FFF;
    border: 1px solid #0c0d10;
    border-radius: 5px;
}

#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px);
    padding: 4px;
    background: #0c0d10;
    color: #FFF;
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}


#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 138px;
}


#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;

}

.maximized #window-title {
    margin-left: 12px;
}

#window-title .logo {
    height: 20px;
    width: 20px;
    background: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
    margin: 8px;
}

#window-title img {
    height: 100%;
    width: 100%;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 10px;
        height: 10px;
    }
}

#window-controls .button {
    user-select: none;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #c13a3a !important;
}

#close-button:active {
    background: #F1707A !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#min-button {
    grid-column: 1;
}

#max-button,
#restore-button {
    grid-column: 2;
}

#close-button {
    border-top-right-radius: 5px;
    grid-column: 3;
}

#restore-button {
    display: none !important;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}



.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -5px;
    margin-right: -5px;
}

.social {
    margin: 5px;
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: var(--bg3-alt);
    border-radius: 50%;
    color: var(--text-muted);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease;
    outline: none;
}

.social-links span {
    margin: 5px;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 150ms ease;
    outline: none;
    text-align: center;
}

.social:hover {
    color: var(--text-normal);
}

.social:active {
    background-color: var(--bg4);
}

.social svg {
    width: 14px;
    height: auto;
    fill: currentColor;
}

.footer {
    position: fixed;
    padding: 5px;
    left: 0;
    bottom: 0;
    height: 42px;
    width: 100%;
    background-color: #0c0d10;
    color: white;
    text-align: center;
}





/* -- */

#main {
    background-image: url("../../assets//img/background.png");
    background-size: 10%;
    background-color: #0c0d10;
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

.page-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.page-header img {
    flex: 0 0 auto;
    width: 40px;
    margin: 5px;
    height: 40px;
    margin-right: 8px;
}

.header,
.paragraph,
.subtext {
    margin: 0;
    line-height: normal;
}

.has-margin {
    margin-bottom: 10px;
}

.header {
    color: #f1f1f1;
    font-weight: 600;
    font-size: 46px;
}

.paragraph {
    color: #bfc4c9;
    font-weight: 400;
    font-size: 14px;
}

.subtext {
    color: #95989d;
    font-weight: 400;
    font-size: 12px;
}

.question {
    position: relative;
    display: block;
    padding: 25px;
    background: #191a21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}



input[type="text"] {
    color: var(--text-light);
    background: transparent;
    border: 1.5px solid var(--text-light);
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
    color: #000;
    background: var(--text-light);
}


.btn {
    color: var(--text-light);
    background: transparent;
    border: 1.5px solid var(--text-light);
    border-radius: 0.75rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #000;
    background: var(--text-light);
}

/* .question {
    margin-top: 10px;
    padding: 15px;
}

.question p {
    margin-top: 10px;
    font-weight: 600;
}


.question input {}

.question input[type="file"] {} */

.text {
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #000000;
    color: var(--text-light);
    padding: 8px;
    width: 100%;
    font-family: courier new;
}

.question p {
    font-family: helvetica;
    color: var(--text-light)
}